body {
    margin: 0 auto;
  }
  
  hr {
    margin: 0 auto;
    border: 2px solid black;
  }
  
  #nav {
    padding-bottom: 60px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    border-bottom: 10px solid black;
    border-top: 2px solid black;
    transition: all 0.2s ease;
  }
  
  #nav h1 {
    margin: 0 auto;
    transition: all 0.2s ease;
  }

  
  #nav a {
    float: right;
    text-decoration: none;
    color: black;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    font-family: sans-serif;
    transition: all 0.2s ease;
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
  }
  
  #nav a:hover {
    border-top: 10px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    bottom: -4px;
    padding-top: 17px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 24px;
  }
  
  #nav a:active {
    background: black;
    color: white;
    bottom: 0px;
  }
  #nav h1:hover {
    font-size: 35px;
  }
 